body 
	{
	background-image: url("../Images/92-2.jpg");
	background-size: cover;
	border: 5px solid #FFA500;
	}
div 
    {  
    border:2px solid #40E0D0;
    height:100px;
	}
div#UpperOne {
	width:99%;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7B8SdNtMTb2r87Euy4gknn0E7X4AcN2ZkFQ&usqp=CAU:");
	background-size: cover;
	background-position: center;
   }
div#center {height: 300px;}
div#left   {
	display:inline-block; width: 22%; height: 300px; border:2px solid #F08080;}
div#right  {
	display:inline-block; width:76%; height: 300px; border:2px solid #F08080;}

div#LowerOne {
	width:99%;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7B8SdNtMTb2r87Euy4gknn0E7X4AcN2ZkFQ&usqp=CAU:");
	background-size: cover;
	background-position: center;
	}	

	
	