div.plate
{
height:70px;
width:70px;
border-radius:50%; 
background-image: url("../Images/plate.png");
background-size: cover;
margin: 0 auto;
}

div#center, div#logo
{background-image:url("../фон1.jpg");

}

div#logo { 
height: 175px;
}

div#cards>div 
{
	text-color: primary;
	display: flex;
	justify-content: center;
}