
body {
	background-image: url("Images/background.jpg");
    }
p {
    text-align:center;
	font-family: verdana;
    font-size: 16px;
	color: #FF0000;
	}

img {
width: 200px;
border: 2px solid #000080;
}
	
table {
align: center;
border: 3px solid #32CD32;
background-image: linear-gradient(#F8F9F9, #FFFF00  )
}
